@model string
    @using WebCalc.Extentions;
@{
    var fio = new Tuple<string, string>(Model, ViewBag.Lastname);
    var страны = new string[] {"Турция", "Россия"};
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Name</title>
</head>
<body>
    <div>
        <h1>Меня зовут @Html.Partial("FIO", fio)!</h1>
        @{
            Html.RenderPartial("FIO", fio);
        }
    </div>
    <hr />
    @Html.Lister1(страны);


    @using (Html.BeginForm("Index", "My", FormMethod.Post))
    {
        @Html.TextBox("firstname", Model)

        <input type="submit" value="Сохранить" />
    }



    @*<form action="/My/Index" method="post">
        
        <input type="text" name="firstname" value="@Model"/>

        <input type="submit" value="Сохранить"/>

    </form>*@



    @*@ViewData["age"]
    @ViewData["isAdmin"]
    @ViewBag.LastName*@
</body>
</html>
